.container {
  display: flex;
}

.container > div {
  background-color: red;
  height: 50px;
  width: 50px;
  margin: 10px;
  background-size: contain;
  animation: infinite;
  animation-name: changecolor;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.test {
  transition: width 3s;
}

.test:hover {
  width: 200px;
}

img {
  height: 200px;
  width: 200px;
  float: left;
  transition: height 3s, width 2s;
}

img:hover {
  height: 300px;
  width: 300px;
}
